<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Conexion" connectionString="Server=localhost;Database=bd_retros;User=sa;Password=soluciones;Integrated Security=False;Connection Timeout=1200" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" maxRequestLength="80480" requestValidationMode="2.0" executionTimeout="36000"  />
      <globalization uiCulture="es" culture="es-MX" responseHeaderEncoding="ISO-8859-1" requestEncoding="ISO-8859-1" responseEncoding="ISO-8859-1" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="Static" validateRequest="false" enableEventValidation="true">
      
    </pages>
    <sessionState cookieless="AutoDetect" timeout="500000"></sessionState>
    </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="900000"></jsonSerialization>

      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>
